<!DOCTYPE html>
<html lang="en">
<head>
	<title>Error!</title>
	<% include ../partials/head %>
	<script>
		page = "error";
	</script>
</head>
<body>
	<% include ../partials/nav %>
	<div class="container">
		<h1>Error</h1>
		<p>Message: <%= error %></p>
		<p><a href="#" onclick="javascript:history.go(-1);">&lt;-Go Back</a></p>
	</div>
</body>
</html>
