<!DOCTYPE html>
<html lang="en">
<head>
	<title>Error!</title>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<h1>Error</h1>
		<p>Message: <%= error %></p>
		<a href="#" onclick="javascript:history.go(-1);">&lt;-Go Back</a>
	</div>
</body>
</html>
