<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pulser</title>
	<% include ../partials/head %>
	<script>
		page = "index";
	</script>
	<style>
	.btn {
		padding: 16px;
		font-size: 20pt;
		width: auto;
	}
	</style>
</head>
<body>
	<div class="container">
		<a href="#" onclick="logout();" class="btn">logout</a>
		<h1>Pulser</h1>
		<a href="/gui/modules">
			<div class="module">
				<div class="mod-content">
					<h3 class="mod-name">Modules</h3>
				</div>
				<div class="mod-cover"></div>
			</div>
		</a>
		<a href="/gui/users">
			<div class="module">
				<div class="mod-content">
					<h3 class="mod-name">Users</h3>
				</div>
				<div class="mod-cover"></div>
			</div>
		</a>
	</div>
	<script>
		function logout() {
			sendRequest("/api/logout", "POST", undefined, function(res) {
				window.location.reload();
			});
		}
	</script>
</body>
</html>
