<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pulser</title>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<h1>Pulser</h1>
		<p>Pulser is a test</p>
	</div>
</body>
</html>
